<div class="home-container">
  <nav class="navbar">
    <h1>Euphoria</h1>
    <ul class="nav-links">
      <li>Shop</li>
      <li>Men</li>
      <li>Women</li>
      <li>Combos</li>
      <li>Joggers</li>
    </ul>
    <div class="search-bar">
      <input type="text" placeholder="Search" />
      <span>Welcome, {{ userName }}!</span>
      <button class="btn-primary" (click)="logout()">Logout</button>
    </div>
  </nav>

  <section class="hero">
    <div class="hero-content">
      <img src="Banner.png" alt="">
      <!-- <h2>Summer Value Pack</h2> -->
      <!-- <p>cool / colorful / comfy</p> -->
      <!-- <button class="btn-primary">Shop Now</button> -->
    </div>
  </section>

  <!-- Categories Section -->
  <section class="categories">
    <div class="category-card">
      <h3>High Coziness</h3>
      <p>UP TO 50% OFF</p>
      <img src="unsplash_Qyc13QBGaM4.jpg" alt="">
      <button class="btn-secondary">Explore Items</button>
    </div>
    <div class="category-card">
      <h3>Breezy Summer Style</h3>
      <p>UP TO 50% OFF</p>
      <img src="girl.jpg" alt=""> 
      <button class="btn-secondary">Explore Items</button>
    </div>
  </section>

  <!-- New Arrival Section -->
  <section class="new-arrivals">
    <h2>New Arrival</h2>
    <div class="items-grid">
      <div class="item-card" *ngFor="let product of products">
        <img [src]="product.image" alt="{{ product.name }}" />
        <p>{{ product.name }}</p>
      </div>
    </div>
  </section>
</div>
